.form{
    border: 1px solid #000000;
    padding: 20px;
    margin-bottom: 10px;
}
.box{
    display: flex;
}
.titleBox{
    margin-bottom: 10px;
}
.box div{
    white-space: nowrap;
}
input, textarea{
    width: 100%;
    margin-left: 6px;
}
.submit{
    margin-top: 20px;
    width: 60px;
    height: 30px;
}